<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>New Course for Teacher</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/course-teacher}">Course for Teacher</a></li>
	    <li class="breadcrumb-item active" aria-current="page">New</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    New Course for teacher
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{/courses-teacher/save-new-course}" th:object="${course}" method="post" class="row g-3 needs-validation" novalidate>
		  <div class="col-md-2">
		    <label for="id" class="form-label">Id</label>
		    <input type="text" class="form-control" th:field="*{id}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  <div class="col-md-6">
		    <label for="name" class="form-label">Name</label>
		    <input type="text" class="form-control" th:field="*{name}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  
		  <div class="col-md-2">
		    <label for="level" class="form-label">Level</label>
		    <input type="text" class="form-control" th:field="*{level}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>
		  <div class="col-md-2">
		    <label for="credit" class="form-label">Credit</label>
		    <input type="text" class="form-control" th:field="*{credit}" required>
		    <div class="valid-feedback">
		      Looks good!
		    </div>
		  </div>

		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Register</button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>