<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: frag-head">
<meta charset="ISO-8859-1">
<title>List Student</title>
</head>
<body>
	<header th:replace="layout/base :: frag-header"></header>
	<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Students</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Students
	  </div>
	  <div class="card-body">
	    
	    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Last name</th>
		      <th scope="col">First name</th>
		      <th scope="col">Age</th>
		      <th scope="col">Career</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="student : ${students}">
		      <th scope="row" th:text="${student.id}">1</th>
		      <td th:text="${student.lastName}">Mark</td>
		      <td th:text="${student.firstName}">Otto</td>
		      <td th:text="${student.age}">@mdo</td>
		      <td th:text="${student.career.name}">@mdo</td>
		      <td>
		      	<a class="btn btn-warning" th:href="@{'/students/' + ${student.id} + '/edit'}" role="button"> <i class="fas fa-edit"></i> </a>
		      	<a class="btn btn-danger" th:href="@{'/students/' + ${student.id} + '/del'}" role="button"> <i class="fas fa-trash-alt"></i> </a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	    
	  </div>
	  <div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/students/new}" role="button"> <i class="fas fa-plus"></i> New </a>
	  </div>
	</div>
  </section>

</main>
	<footer th:replace="layout/base :: frag-footer"></footer>
</body>
</html>