<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Enrollments</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Enrollments</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    List Enrollments course
	  </div>
	  <div class="card-body">
	  
	    <div class="card-footer text-muted">
		    <a class="btn btn-primary" th:href="@{/enrollments/new}" role="button"> <i class="fas fa-plus"></i> New enrollment </a>
		</div>
	    
	    <div class="row">
		  <div th:each="enrollment : ${enrollments}" class="col-sm-3 margin-b-10">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title" th:text="${enrollment.course.name}"> course</h5>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${enrollment.section}">section</h6>
		        <p class="card-text"> 
		        	The teacher is <span th:text="${enrollment.course.teacher.firstName + ' ' + enrollment.course.teacher.lastName}"></span>.
		        	The course is in <span th:text="${enrollment.course.level}"></span> level. 
		        </p>
		        <a class="btn btn-warning" th:href="@{'/enrollment/' + ${enrollment.id} + '/edit'}" role="button"> <i class="fas fa-edit"></i> Edit</a>
		      </div>
		    </div>
		  </div>
	    
	  </div>
	  
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>